h1 {
    font-size: 50px;
    margin: 35px;
    margin-bottom: 5px;
}

h3 {
    font-size: 22px;
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 35px;
    display: inline;
}

ul, li, #navBar {
    display: inline;
}